<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mark Down Blog</title>
    <link rel="stylesheet" href="/articles.css">
</head>

<body>
    <div class="container">
        <h1>MARK DOWN BLOG APP</h1>
        <a href="http://localhost:8080/articles/new"><button>Add a New Blog</button></a>
        <% articles.forEach((article)=> { %>
            <div class="card-body">
                <h2 class="title">
                    <%= article.title %>
                </h2>
                <p class="created-at">
                    <%= article.createdAt.toLocaleDateString() %>
                </p>
                <p class="description">
                    <%= article.description %>
                </p>
            </div>
            <% }) %>
    </div>
</body>

</html>